Homework Task 9 - Creating an HTML Table from a CSV file.

In [1]:
# Import the dependencies.

import pandas as pd

In [2]:
# Files to read from:

file = "Resources/WeatherPy_Output.csv"

In [3]:
# Create Data Frames.

WeatherPy_Output_df = pd.read_csv(file)

In [4]:
# Display the newly formed school data frame.

WeatherPy_Output_df.head(3)

,City Name,Country Code,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,Dikson,RU,73.5069,80.5464,-14.35,92,100,1.49,18/04/2022
1,Bluff,NZ,-46.6000,168.3333,17.11,66,84,1.29,18/04/2022
2,Beloha,MG,-25.1667,45.0500,22.46,92,100,3.06,18/04/2022

In [5]:
WeatherPy_Output_df.to_html('../data.html')